img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

#about {
  color: white;
  margin: 40px 10px 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(232, 252, 207, 0.5);
  border-radius: 50px;
  padding: 10px 0 50px 0;
  height: auto;
}

h1 {
  margin: 15px;
}

#info p {
  margin: 10px 0 0 0;
}

#info {
  width: 75%;
  font-size: 20px;
}

#tutorial-container {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 10px;
}

#tutorial {
  color: #d0e3cc;
  background: #79b4a9;
  width: 90%;
}
