<div id="about">
  <h1>Visualize your dream garden!</h1>
  <div id="info">
    <p>
      Grow Pro is a free online garden planner for simple and creative garden
      planning.
    </p>
    <p>The easiest way to plan, grow and harvest your own food.</p>
    <p>
      A popular question when starting a garden is what can I grow here and what
      can I grow now? We've worked hard to solve that for you.
    </p>
  </div>
  <div id="tutorial-container">
    <h2>Tutorial</h2>
    <mat-horizontal-stepper id="tutorial">
      <mat-step label="Build">
        <p>Click "Build" to start!</p>
      </mat-step>
      <mat-step label="Search">
        <p>Click the maginfiying glass on a plot to search for plants.</p>
      </mat-step>
      <mat-step label="Add or Favorite">
        <p>
          Favorite plants or add them right to your garden from your search.
        </p>
      </mat-step>
      <mat-step label="Add plots">
        <p>
          Want a bigger garden? Click the plus above the garden to add more
          plots.
        </p>
      </mat-step>
      <mat-step label="Delete">
        <p>Click the trash can on a plot to delete it.</p>
      </mat-step>
      <mat-step label="Add popular plants">
        <p>
          Don't want to search for plants? We have picked some of our favorite
          plants for you to add to your garden! Find them in the favorites
          section.
        </p>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

  <div class="rotate">
    <p id="rotate">Rotate Your Device for Tutorial.</p>
  </div>
</div>
