<section id="garden">
  <div class="container">
    <div>
      <app-plant-search
        *ngIf="showSearchModal"
        (addPlantToGridEvent)="addPlantToGrid($event)"
        (addImageToGridEvent)="addImageToGrid($event)"
        (toggleSearchModalEvent)="toggleSearchModal()"
      ></app-plant-search>
    </div>

    <section id="gridSection">
      <i
        id="addPlot"
        (click)="onAddHandler()"
        class="fas fa-plus-square fa-3x grow"
      ></i>

      <gridster [options]="options">
        <gridster-item
          [item]="item"
          *ngFor="let item of gardenGrid; index as i"
        >
          <button
            *ngIf="!item.plant"
            id="searchAdd"
            (click)="[toggleSearchModal(), addClickedIndex(i)]"
            (touchstart)="toggleSearchModal()"
          >
            <i class="fas fa-search-plus fa-lg"></i>
          </button>
          <div class="plant">
            <div *ngIf="item.plant">
              <p>
                {{ item.plant.common_name }}
              </p>
              <p *ngIf="item.plant.common_name === null">
                {{ item.plant.scientific_name }}
              </p>
            </div>
            <img
              class="plantImg"
              *ngIf="item.image"
              src="{{ item.image }}"
              alt=""
            />
          </div>

          <i
            id="removePlant"
            (click)="removePlant(i)"
            (touchstart)="removePlant(i)"
            class="far fa-trash-alt fa-lg grow"
          ></i>
        </gridster-item>
      </gridster>
    </section>
  </div>
</section>

<!-- <img src="../../assets/370.gif" alt="" /> -->

<div class="rotate">
  <p id="rotate">Please Rotate Your Device.</p>
  <img src="../../assets/large_happy-flowers-0217.png" alt="" />
</div>
<app-favorites></app-favorites>
