gridster {
  display: flex;
  flex-direction: column;
  background: #654321;
  height: 90%;
}

#gridSection {
  height: 80vh;
  position: relative;
  width: 80%;
  margin: auto;
}

#rotate {
  margin-top: 50px;
}

button {
  background-color: transparent;
  border: none;
  color: green;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#searchAdd {
  position: absolute;
  top: 4px;
  left: 1px;
}

#removePlant {
  position: absolute;
  bottom: 4px;
  right: 1px;
  color: green;
}

.plant {
  text-align: center;
  position: absolute;
  top: 5px;
  left: 4px;
}

.plantImg {
  width: 75%;
}

#garden {
  background: #328a26;
  background: radial-gradient(#adbf41, #328a26);
}

#addPlot {
  margin-top: 15px;
  color: lightgreen;
}

.container::-webkit-scrollbar {
  width: 25px;
}

.container::-webkit-scrollbar-thumb {
  color: red;
}

.container::-webkit-scrollbar-track {
  color: blue;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .container {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    display: none;
    height: 50vh;
  }

  app-favorites {
    display: none;
  }

  .rotate {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    width: 80%;
    margin: auto;
  }
  .rotate img {
    height: 80%;
    width: 80%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1300px) and (orientation: portrait) {
  .rotate {
    display: none;
  }
}

@media only screen and (orientation: landscape) {
  .container {
    visibility: visible;
  }
  .rotate {
    display: none;
  }
}
