<div id="modal-container2">
  <i
    id="closeModal2"
    class="far fa-times-circle fa-2x"
    (click)="toggleDetailsModal()"
  ></i>
  <div *ngIf="details.main_species">
    <div>
      <h1>{{ details.common_name }}</h1>
      <h1 *ngIf="details.common_name === null">
        {{ details.scientific_name }}
      </h1>
      <p>{{ details.main_species.family_common_name }}</p>
    </div>
    <p>{{ details.main_species.duration }}</p>
    <p *ngIf="details.main_species.complete_data === false">
      Sorry! The data is still being updated
    </p>
  </div>
  <div *ngIf="details.plant_type">
    <div id="popularName">
      <h1>{{ details.common_name }}</h1>
      <h2>{{ details.plant_type }}</h2>
    </div>
    <div id="popularDetails">
      <div class="detail">
        <h3>Height</h3>
        <p>{{ details.how_tall_it_grows }}</p>
      </div>
      <div class="detail">
        <h3>Sun/Shade</h3>
        <p>{{ details.sun_or_shade_tolerant }}</p>
      </div>
      <div class="detail">
        <h3>Watering</h3>
        <p>{{ details.watering_schedule }}</p>
      </div>
      <div class="detail">
        <h3>Soil PH</h3>
        <p>{{ details.ph_of_soil }}</p>
      </div>
    </div>
    <div class="detail">
      <h3>Good Neighbors</h3>
      <p>{{ details.good_neighbors }}</p>
    </div>
  </div>

  <div class="datePicker">
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Planted on ..." />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker2"
        placeholder="Last watered on ..."
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div id="overlay2"></div>
