<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="sidenav-container">
  <mat-toolbar class="sidenav-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <i
        (click)="toggleClass()"
        class="fas fa-2x"
        [ngClass]="closed ? 'fa-bars' : 'fa-times'"
      ></i>
    </button>
    <h1 class="example-app-name">GROW PRO</h1>
    <div class="nav">
      <a class="nav-links first" routerLink="/home">Home</a>
      <a class="nav-links" routerLink="/garden">Garden</a>
      <i (click)="toggleLoginModal()" class="fas fa-user"></i>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #snav mode="side" closed>
      <mat-nav-list>
        <a mat-list-item>Vegetable Garden</a>
        <a mat-list-item>Flower Plot</a>
        <a mat-list-item>Garden 3</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content><router-outlet> </router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>

<app-login
  *ngIf="showLoginModal"
  (toggleLoginModalEvent)="toggleLoginModal()"
></app-login>
