.sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

h1 {
  font-size: 15px;
  flex: 1;
  margin-left: 10px;
  color: white;
}

.nav-links {
  font-size: 15px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.first {
  margin-right: 15px;
}

.sidenav-toolbar {
  display: flex;
  background: lightgreen;
}

.example-container {
  flex: 1;
  color: grey;
}

.nav {
  display: flex;
}

@media only screen and (min-width: 468px) {
  .nav-links {
    font-size: 1em;
    margin-right: 15px;
  }

  .first {
    margin-right: 35px;
  }

  h1 {
    font-size: 1.5em;
    flex: 1;
    margin-left: 20px;
  }
}

/* .fa {
        display: flex;
        flex-direction: row;
        padding: 7px;
        font-size: 13px;
        width: 10px;
        align-content: center;
        text-decoration: none;
        border-radius: 50%;
        margin: 4px;
      }

      .fa:hover {
        opacity: 0.7;
      }

      .fa-facebook {
        background: #3B5998;
        color: white;
      } 

      .fa-twitter {
        background: #55ACEE;
        color: white;
      } */
