/* body {
  background: #328a26;
  background: radial-gradient(#adbf41, #328a26);
} */

.sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

h1 {
  font-size: 15px;
  flex: 1;
  margin-left: 10px;
  color: white;
}

.nav-links {
  font-size: 15px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.first {
  margin-right: 15px;
}

.sidenav-toolbar {
  display: flex;
  background: transparent;
}
/* this below has something to do with space up top */
.example-container {
  flex: 1;
  color: grey;
  background: transparent;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.fa-user {
  color: white;
  margin-top: 5px;
  margin-left: 20px;
}

i {
  cursor: pointer;
}

@media only screen and (min-width: 468px) {
  .nav-links {
    font-size: 1em;
    margin-right: 15px;
  }

  .first {
    margin-right: 35px;
  }

  h1 {
    font-size: 1.5em;
    flex: 1;
    margin-left: 20px;
  }
}
