<div>
  <form #searchForm="ngForm" (ngSubmit)="submitForm(searchForm)">
    <input type="text" name="searchTerm" ngModel />
    <button>Search</button>
  </form>
</div>
<div>
  <ol>
    <li *ngFor="let plant of plantData; index as i">
      <p>
        {{ plant.common_name }}
      </p>
      <p *ngIf="plant.common_name === null">
        {{ plant.scientific_name }}
      </p>
      <div>
        <img *ngIf="plant.images[0]" src="{{ plant.images[0].url }}" alt="" />
        <img *ngIf="!plant.images[0]" src="../../assets/carrot.png" alt="" />
      </div>
    </li>
  </ol>
</div>
