<section id="favoritesDrawer">
  <mat-expansion-panel id="drawer">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Favorite Plants
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="favoritesContent">
      <h1>Your Favorites</h1>
      <ol>
        <li *ngFor="let favorite of favorites">
          <p>
            {{ favorite.plant.common_name }}
          </p>
          <p *ngIf="favorite.plant.common_name === null">
            {{ favorite.plant.scientific_name }}
          </p>
          <img src="{{ favorite.image }}" alt="" />
          <div class="btnDiv">
            <button
              class="favDetails"
              (click)="[setDetails(favorite.plant), toggleDetailsModal()]"
            >
              Details
            </button>
            <i
              class="addFav"
              (click)="addPlantToGrid(favorite.plant, favorite.image)"
              class="fas fa-plus-circle"
            ></i>
          </div>
        </li>
      </ol>
    </div>
    <div class="favoritesContent">
      <h1>Popular Plants</h1>
      <ol>
        <li *ngFor="let mostCommon of DBFavorites">
          <p>
            {{ mostCommon.common_name }}
          </p>
          <p *ngIf="mostCommon.common_name === null">
            {{ mostCommon.scientific_name }}
          </p>
          <img src="{{ mostCommon.image }}" alt="" />
          <div class="btnDiv">
            <button
              class="favDetails"
              (click)="[setDetails(mostCommon), toggleDetailsModal()]"
            >
              Details
            </button>
            <i
              class="addFav"
              (click)="addPlantToGrid(mostCommon, mostCommon.image)"
              class="fas fa-plus-circle fa-lg"
            ></i>
          </div>
        </li>
      </ol>
    </div>
  </mat-expansion-panel>
</section>
