#drawer {
  background: #d6f599;
  color: #1b998b;
  width: 80vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

mat-panel-title {
  color: #1b512d;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

img {
  width: 100%;
  margin: 5px;
}

#addFav {
  margin: 5px;
  color: #1b512d;
}

#favDetails {
  background: #1b512d;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 50px;
  margin: 5px 0 0 0;
}

button,
i {
  cursor: pointer;
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  #drawer {
    margin-top: 25px;
  }
}
