body {
  position: relative;
}

#favoritesDrawer {
  width: 80vw;
  position: absolute;
  left: 50;
  padding-top: 0px;
  color: #1b998b;
}

#drawer {
  background: #d6f599;
  color: #1b998b;
}

mat-panel-title {
  color: #1b998b;
}
