div {
  display: flex;
  height: 100vh;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  /* font-family: 'Josefin Slab', serif; */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: "Karla", sans-serif;
  color: grey;
  font-size: 20px;
}

button {
  background-color: transparent;
  font-size: 20px;
  border-radius: 50px;
  padding: 10px;
  margin: 40px;
  text-align: center;
  color: grey;
}

button:hover {
  cursor: pointer;
}

span {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: bottom;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}

.name-pulse {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  color: grey;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 480px) {
  button {
    padding: 35px 50px;
  }

  .btn {
    flex-direction: row;
  }
}
