div {
  display: flex;
  height: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  /* font-family: 'Josefin Slab', serif; */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #328a26;
  background: radial-gradient(#adbf41, #328a26);
}

@font-face {
  font-family: "Decovar Regular24";
  src: url("DecovarAlpha-VF.ttf");
}

h1 {
  margin-bottom: 50px;
  font-size: 20vw;
  font-weight: 400;
  font-family: "Decovar Regular24";
  font-variation-settings: "INLN" 1000, "TSHR" 0, "TRSB" 0, "SSTR" 0, "TWRM" 0,
    "SINL" 0, "TOIL" 0, "TINL" 0, "WORM" 0, "wght" 400, "TFLR" 0, "TRND" 0,
    "SWRM" 1000, "TSLB" 0, "TBIF" 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(./grass.jpg);
  background-size: 30%;
  background-repeat: repeat;
  text-shadow: 2px 2px 5px rgba(#2a4308, 0.4);
  animation: grow 4s linear infinite;
}

h1::before {
  text-shadow: 1px 1px 2px rgba(#2a4308, 0.5), -1px 1px 2px rgba(#2a4308, 0.5),
    -1px -1px 2px rgba(#2a4308, 0.5), 1px -1px 2px rgba(#2a4308, 0.5),
    3px 3px 20px rgba(#000, 0.5);
}

h1::after {
  color: #421f00;
  font-variation-settings: "INLN" 0;
}

@keyframes grow {
  0% {
    font-variation-settings: "INLN" 400, "SWRM" 1000;
  }

  50% {
    font-variation-settings: "INLN" 400, "SWRM" 0;
  }
}

p {
  font-family: "Karla", sans-serif;
  color: grey;
  font-size: 20px;
}

button {
  background-color: transparent;
  font-size: 20px;
  border-radius: 50px;
  padding: 10px;
  margin: 40px;
  text-align: center;
  color: grey;
}

span {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  height: 20px;
}

/* @keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}

h1 {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  color: grey;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
} */

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media only screen and (min-width: 480px) {
  button {
    padding: 35px 50px;
  }

  .btn {
    flex-direction: row;
  }
}
