div {
    display: flex;
    height: 100vh;
    width: 100vw;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Archivo Narrow', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(1, 1, 1, 0.01), rgba(1, 1, 1, 0.1)), url("/../assets/grass\ tile.jpeg");
    /* background-image: url("/../assets/seedling\.jpeg"); */
}

h3 {
    color: white;
    font-size: 17px;
}

p {
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 40px;
}

button {
    background-color: transparent;
    font-size: 20px;
    border-radius: 2px;
    padding: 5px 5px;
    margin: 40px;
    text-align: center;
    color: white;
  }

  span {
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  .footer {   
      font-size: 10px;
        position:absolute;
        bottom:0;
        width:100%;
        height:bottom; 
     }
  
     /* .fa {
        display: flex;
        flex-direction: row;
        padding: 7px;
        font-size: 13px;
        width: 10px;
        align-content: center;
        text-decoration: none;
        border-radius: 50%;
      }

      .fa:hover {
        opacity: 0.7;
      }

      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }

      .fa-pinterest {
        background: #cb2027;
        color: white;
      }

      .fa-youtube {
        background: #bb0000;
        color: white;
      } */

     @media only screen and (min-width: 480px) {
        .btn {
            flex-direction: row;
            padding: 5px 10px;
            margin: 10px;
        }
     }