<!-- Modal -->
<div *ngIf="showSearchModal" id="modal-container">
  <form #searchForm="ngForm" (ngSubmit)="submitForm(searchForm)">
    <p>Search for a plant :</p>
    <input type="text" name="searchTerm" ngModel />
    <button>Search</button>
    <i
      id="closeModal"
      class="far fa-times-circle fa-2x"
      (click)="toggleSearchModal()"
    ></i>
  </form>
  <div id="searchResults">
    <ol>
      <li *ngFor="let plant of plantData">
        <p>
          {{ plant.common_name }}
        </p>
        <p *ngIf="plant.common_name === null">
          {{ plant.scientific_name }}
        </p>
        <div>
          <img src="{{ images.hits[2].webformatURL }}" alt="" />
          <button (click)="addToFavorites(plant)">
            <i class="fas fa-heart"></i>
          </button>
        </div>
      </li>
    </ol>
  </div>
</div>
<!-- <div
  *ngIf="!showSearchModal"
  id="overlay"
  (click)="toggleSearchModal()"
></div> -->

<!-- <div>
  <img *ngIf="plant.images[0]" src="{{ plant.images[0].url }}" alt="" />
  <img *ngIf="!plant.images[0]" src="../../assets/carrot.png" alt="" />
</div> -->
