#modal-container {
  position: fixed;
  top: 200px;
  left: 50%;
  width: 375px;
  height: 375px;
  background: white;
  margin-left: -187.5px;
  text-align: center;
  box-shadow: 0px 0px 2px 1px black;
  z-index: 100;
  border-radius: 20px;
  animation: popup 0.3s;

}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0 0 0;
}

#searchBtn {
  background: green;
  box-shadow: 2px 2px 5px black;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50px;
  margin: 5px 0 0 0;
}

label {
  font-weight: bold;
  margin: 0 0 5px 0;
}

#details {
  background: green;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50px;
  margin: 5px 0 0 0;
}

input {
  border-radius: 5px;
  margin-right: 5px;
  border: 2px solid green;
}

#closeModal {
  position: absolute;
  right: 8px;
  top: 0;
  color: green;
}

#searchResults {
  height: 290px;
  width: 375px;
  overflow: auto;
}

.plant {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
}

img {
  width: 25%;
  margin: 5px 0 0 0;
}

#favorite {
  margin: 5px;
  color: green;
}

#add {
  margin: 5px;
  color: green;
}

i,
button {
  cursor: pointer;
}

/* #overlay:target,
#modal {
  animation: popup 0.4s;
} */

@keyframes popup {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0.1);
  }
  20% {
    transform: scale(0.2);
  }
  30% {
    transform: scale(0.3);
  }
  40% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(0.6);
  }
  70% {
    transform: scale(0.7);
  }
  80% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

