<div id="modal-container">
  <form #searchForm="ngForm" (ngSubmit)="submitForm(searchForm)">
    <label for="searchTerm"><span>Search for a plant:</span></label>
    <input type="text" name="searchTerm" ngModel />
    <button id="searchBtn">Search</button>
    <i
      id="closeModal"
      class="far fa-times-circle fa-2x"
      (click)="toggleSearchModal()"
    ></i>
  </form>
  <div id="searchResults">
    <ol>
      <li class="plant" *ngFor="let plant of plantData; index as i">
        <p>
          {{ plant.common_name }}
        </p>
        <p *ngIf="plant.common_name === null">
          {{ plant.scientific_name }}
        </p>
        <img src="{{ images.hits[2].webformatURL }}" alt="" />
        <div>
          <i
            id="favorite"
            (click)="addToFavorites(plant, images.hits[2].webformatURL)"
            class="fas fa-heart"
          ></i>
          <button
            id="details"
            (click)="[setDetails(plant), toggleDetailsModal()]"
          >
            Details
          </button>
          <i
            id="add"
            (click)="
              [
                addPlantToGrid(plant),
                addImageToGrid(images.hits[2].webformatURL)
              ]
            "
            class="fas fa-plus-circle"
          ></i>
        </div>
      </li>
    </ol>
  </div>
</div>
<div id="overlay" (click)="toggleSearchModal()"></div>
